body {
    background: #333333;
    color: #ffffff;
    overflow: hidden;
}

#canvas {
    cursor: pointer;
}

#pixelCanvas {
    position: relative
}

*{
    margin: 0;
    padding: 0;
}
#tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
    pointer-events: none;
    z-index: 999;
}
.pixel{
    height: 5px;
    width: 5px;
    background-color: red;
}